@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 5em;
    overflow-x: scroll;
    background: #565656;
    font-size: 1.3em;
    height: 100%;
    z-index: 9999;
}

.active-tab{
    color: white;
    display: inline-block;
    width: 100px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
}

.deactive-tab{
    color: #AAAAAA;
    display: inline-block;
    width: 100px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
}
.tab-container::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 2px;
}
.tab-container::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
}
.tab-container::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */ /* padding вокруг плашки */
}
.inventory-container{
    width: 100%;
    height: 100%;
}
.inventory-container::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 2px;
}
.inventory-container::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
}
.inventory-container::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */ /* padding вокруг плашки */
}


.inventory-card{
    background: linear-gradient(127.99deg, #5551F1 15.94%, #EA3347 78.44%);
}