@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 5em;
    overflow-x: scroll;
    /*background: #565656;*/
    font-size: 1.3em;
    height: 100%;
    z-index: 9999;
}

.grey-gradient{
    background: linear-gradient(270deg, #FFFFFF 0%, #BFC1CD 100%);
}

.active-tab{
    color: white;
    display: inline-block;
    width: 100px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
}

.deactive-tab{
    color: #AAAAAA;
    display: inline-block;
    width: 100px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
}
.tab-container::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 2px;
}
.tab-container::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
}
.tab-container::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */ /* padding вокруг плашки */
}
.inventory-container{
    width: 100%;
    height: 100%;
}
.inventory-container::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 2px;
}
.inventory-container::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
}
.inventory-container::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */ /* padding вокруг плашки */
}


.inventory-card{
    background: linear-gradient(127.99deg, #5551F1 15.94%, #EA3347 78.44%);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-button-prev{
    color: #BFBFBF !important;
    left: 0px !important;
}
.swiper-button-next{
    color: #BFBFBF !important;
    right: 0px !important;
}

.swiper-button-prev::after{
    font-size: 30px !important;
}
.swiper-button-next::after{
    font-size: 30px !important;
}

.green-gradient{
    background: linear-gradient(90deg, #64D2CC 0.17%, #29FF9E 99.99%);
    box-shadow: 0px 4px 9px rgba(24, 103, 103, 0.25);
}

/* W3C standard
   сейчас только для Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #D3D3D3 #BEC0C7;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    border-radius: 10px;
}
*::-webkit-scrollbar-track {
    background: #BEC0C7;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: #D3D3D3;
    border-radius: 5px;
    border: 3px solid #BEC0C7;
}